<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/login" method="POST" novalidate>
            <!-- novalidate attribute is used to disable the browser's default validation and use our custom validation instead -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value="<%= oldInput.email %>"  class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>">
                <!-- oldInput.email is used to pre-fill the email field with the last entered value in case of validation errors -->
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= oldInput.password %>" class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>">
                <!-- oldInput.password is used to pre-fill the password field with the last entered value in case of validation errors -->
            </div>
            <button class="btn" type="submit">Login</button>
        </form>
        <div class="centered">
            <!-- <a href="/signup">Don't have an account? Sign up</a> -->
            <a href="/reset">Forgot your password? Reset it</a>
        </div>
        
    </main>
<%- include('../includes/end.ejs') %>